body{
    text-align: center;
}

.aviso{
    font-size: 3rem;
    background-color: aliceblue;
}

.fala{
    font-size: 3rem;
    background-color: azure;
}


.dias{
    font-size: 4rem;
}

.dias img{
    width: 90%;
}